<!-- Ceremony Section -->
    <section id="ceremony" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Ceremony</h2>
                    <h3 class="section-subheading text-muted">Address: 280 Notre-Dame Street East, Montréal, Quebec H2Y 1C5  [<a href="https://maps.app.goo.gl/CpZFGhkzueWyRqtX6">Google Maps</a>]</h3>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="emoji wedding emoji-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Ceremony location</h4>
                    <p class="text-muted">The ceremony is planned to be held in the governor's garden. Make sure you have appropriate sun protection if needed! In case of rain, it will be moved to the terrace.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="emoji dress emoji-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Dress Code</h4>
                    <p class="text-muted">The dress code will be cocktail attire. We kindly ask you to avoid wearing white or red coloured outfits, since these colours are traditionally worn by the newlyweds in our respective cultures.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="emoji gift emoji-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Gift registry</h4>
                    <p class="text-muted">Your presence at our wedding is the greatest gift we could ask for. We don't expect gifts from guests, but if you would like to honour us with a gift, a contribution towards our honeymoon fund would be deeply appreciated! A card box will be available at the wedding for any well wishes or gifts.</p>
                </div>
            </div>
        </div>
    </section>