<!-- Navigation -->
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand page-scroll" href="#page-top">{{site.title}}</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#timeline">Timeline</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#ceremony">Ceremony</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#reception">Reception</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#team">Team</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#contact">Contact</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>

    <!-- Header -->
    <header>
        <div class="container">
            <div class="intro-text">
                <div class="intro-lead-in" style="color: #595959"> Welcome to the wedding of </div>
                <div class="intro-heading" style="color: #1a1a4b"> Yingzi & Maxime </div>
                <div class="intro-lead-in" style="color: #595959"> Date and time: 2027 July 1 at 4pm </div>
                <div class="intro-lead-in" style="color: #595959"> Location: Château Ramezay </div>
                <a href="https://docs.google.com/forms/d/e/1FAIpQLSfCYXLtHuj4goQHpYJar0N1Yt9Y9kFAJIca234jp8z9fNNr6A/viewform?usp=header" class="btn btn-xl">RSVP</a>
            </div>
        </div>
    </header>
<!--
        {% for page in site.pages %}
          {% if page.title %}<a class="page-link" href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a>{% endif %}
        {% endfor %}
 -->

